@import "tailwindcss";
@import "tw-animate-css";
@import "../styles/kia-fonts.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --container-width: var(--container-width);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-black: var(--black);
  --color-sub-text: var(--sub-text);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --breakpoint-*: initial;
  --breakpoint-mobile: 640px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1025px;
  --breakpoint-container: 1340px;
  --breakpoint-wide: 1920px;
}

@utility container {
  @media (width >= theme(--breakpoint-mobile)) {
    max-width: theme(--container-width);
  }
  @media (width >= theme(--breakpoint-tablet)) {
    max-width: theme(--container-width);
  }
  @media (width >= theme(--breakpoint-desktop)) {
    max-width: theme(--container-width);
  }
  @media (width >= theme(--breakpoint-wide)) {
    max-width: theme(--container-width);
  }
}

:root {
  color-scheme: only light;
  --container-width: 1280px;
  --radius: 0.8rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(18.4% 0.031295 241.3);
  --primary-foreground: oklch(98.5% 0 0);
  --secondary: oklch(37.5% 0.020822 237.3);
  --secondary-foreground: oklch(98.5% 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(18.4% 0.031295 241.3 / 0.2);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #dadbdc;
  --sub-text: #697278;
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --black: oklch(18.4% 0.031295 241.3);
}

.dark {
  /*
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  */
  color-scheme: only light;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(18.4% 0.031295 241.3);
  --primary-foreground: oklch(98.5% 0 0);
  --secondary: oklch(37.5% 0.020822 237.3);
  --secondary-foreground: oklch(98.5% 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(18.4% 0.031295 241.3 / 0.2);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #dadbdc;
  --sub-text: #697278;
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --black: oklch(18.4% 0.031295 241.3);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    font-size: 2.6667vw;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "KIA Signature", sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.03em;
    color: var(--black);
  }
  .blind {
    @apply absolute top-0 left-0 right-0 z-50;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  .container {
    @apply relative mx-auto px-[3rem] container:px-0;
  }
  .skip-nav {
    @apply absolute top-0 left-0 right-0 z-50;
    a {
      @apply absolute top-0 left-0 right-0 z-50 text-white bg-black text-center text-sm font-bold leading-[4rem] focus:outline-none h-0 overflow-hidden transition-all duration-300 focus:h-[4rem];
    }
  }

  .out-link {
    text-decoration: underline;
    text-underline-position: under;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    border-radius: 20px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    margin: 0.8rem 0;
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(102, 102, 102, 0.3);
    border-radius: 20px;
  }

  .custom-scrollbar::-webkit-scrollbar-button {
    display: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: theme(--breakpoint-desktop)) {
    .custom-scrollbar::-webkit-scrollbar {
      width: 8px;
      border-radius: 20px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
      margin: 0.8rem 0;
      background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: rgba(102, 102, 102, 0.3);
      border-radius: 20px;
    }
  }

  @media (min-width: theme(--breakpoint-desktop)) {
    html {
      font-size: 0.7576vw;
    }
    body {
      font-size: 1.6rem;
    }
  }

  @media (min-width: theme(--breakpoint-container)) {
    html {
      font-size: 10px;
    }
  }
}
